<div class="min-h-screen pb-20 md:pb-0">
  <div
    class="grid grid-cols-1 md:grid-cols-[72px_minmax(0,1fr)]"
    [class.lg:grid-cols-[72px_minmax(0,1fr)]]="!rightPanel.template()"
    [class.xl:grid-cols-[260px_minmax(0,1fr)]]="!rightPanel.template()"
    [class.2xl:grid-cols-[280px_minmax(0,1fr)]]="!rightPanel.template()"
    [class.lg:grid-cols-[72px_minmax(0,1fr)_320px]]="!!rightPanel.template()"
    [class.xl:grid-cols-[260px_minmax(0,1fr)_360px]]="!!rightPanel.template()"
    [class.2xl:grid-cols-[280px_minmax(0,1fr)_380px]]="!!rightPanel.template()"
  >
    <div class="hidden md:block border-r border-hairline">
      <app-sidebar-nav />
    </div>

    <main class="min-w-0">
      <router-outlet />
    </main>

    @if (rightPanel.template(); as tpl) {
      <aside class="hidden lg:block border-l border-hairline">
        <div class="sticky top-0 h-screen overflow-y-auto py-6 px-4">
          <ng-container [ngTemplateOutlet]="tpl" />
        </div>
      </aside>
    }
  </div>

  <app-mobile-nav />
</div>
