<div class="flex items-center justify-center flex-col bg-[#f7f5f1] min-h-screen overflow-x-hidden">
  <div class="bg-white p-12 w-full max-w-md z-10 rounded-3xl shadow-lg">
    <span class="flex justify-center font-bold text-3xl text-green-800">
      Arf<span class="text-orange-400">inder</span>
    </span>
    <p class="flex justify-center text-center mt-0.5 mb-8 text-sm text-[#8a8a82]">
      Encuentra tu compañero de piso ideal
    </p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
      <div class="flex flex-col gap-1">
        <input
          pInputText
          type="email"
          placeholder="Correo electrónico"
          formControlName="email"
          [invalid]="isInvalid('email')"
          class="w-full"
        />
        <app-field-error [control]="form.get('email')!" />
      </div>

      <div class="flex flex-col gap-1">
        <p-password
          formControlName="password"
          placeholder="Contraseña"
          [toggleMask]="true"
          [feedback]="true"
          [fluid]="true"
          [invalid]="isInvalid('password')"
          promptLabel="Introduce una contraseña"
          weakLabel="Débil"
          mediumLabel="Media"
          strongLabel="Fuerte"
        >
          <ng-template #header> </ng-template>
          <ng-template #footer>
            <p-divider />
            <ul class="pl-2 my-0 leading-normal text-sm">
              <li>Por lo menos una minúscula</li>
              <li>Por lo menos una mayúscula</li>
              <li>Por lo menos un número</li>
              <li>Mínimo 8 caracteres</li>
            </ul>
          </ng-template>
        </p-password>

        <app-field-error [control]="form.get('password')!" />
      </div>

      <div class="flex flex-col gap-1">
        <p-password
          formControlName="confirmPassword"
          placeholder="Repite la contraseña"
          [toggleMask]="true"
          [feedback]="false"
          [fluid]="true"
          [invalid]="isInvalid('confirmPassword') || isPasswordMismatch()"
        />

        @if (isInvalid('confirmPassword')) {
          @if (form.get('confirmPassword')?.errors?.['required']) {
            <p-message severity="error" size="small" variant="simple"
              >Debes repetir la contraseña.</p-message
            >
          }
        }

        @if (isPasswordMismatch()) {
          <p-message severity="error" size="small" variant="simple"
            >Las contraseñas no coinciden.</p-message
          >
        }
      </div>

      @if (errorMessage()) {
        <p-message severity="error" size="small" variant="simple">{{ errorMessage() }}</p-message>
      }

      <button pButton type="submit" class="w-full">Registrarse</button>

      <p class="text-center text-sm text-[#8a8a82]">
        ¿Ya tienes cuenta?
        <a routerLink="/login" class="text-green-800 font-semibold hover:underline"
          >Iniciar Sesión</a
        >
      </p>
    </form>
  </div>
</div>
